<!DOCTYPE html>
<html lang="en" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <title>Yack.net external call integration demo</title>
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/static/style.css">
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>

    <script src="/static/socket.io/socket.io.js"></script>
    <!-- import the webpage's client-side javascript file -->
    <script src="/static/client.js" defer></script>
</head>
<body>
<header>
    <h4>
        Yack.net external call integration demo
    </h4>
</header>

<main>
    <div id="app">

        <div>
          <call-starter></call-starter>
        </div>
      <br/>
      <br/>
        <div>
            <h4>Call metadata:</h4>
            <ul id="transcription" class="transcription-list ">
 
              <li class="list-group-item"><span class="label">Full url:</span> {{transcriptionData.fullUrl}}</li>
                <li class="list-group-item"><span class="label">Overlay url:</span> {{transcriptionData.overlayUrl}}</li>
                <li class="list-group-item"><span class="label">Room Id:</span> {{transcriptionData.callRoomId}}</li>
                <li class="list-group-item"><span class="label">Call Uuid:</span> {{transcriptionData.callUuid}}</li>
                <li class="list-group-item"><span class="label">Call duration:</span> {{transcriptionData.callDuration}}</li>
                <li class="list-group-item"><span class="label">Call started:</span> {{transcriptionData.callStarted}}</li>
                <li class="list-group-item"><span class="label">Call finished:</span> {{transcriptionData.callFinished}}</li>
                <br/>
                <h4>
                  Messages: 
                </h4>
                <li v-for="msg in transcriptionData.transcriptionMessages" class="list-group-item message">
                    <div class="header">
                      <span><span class="label">id: </span>{{ msg.id }}</span>
                      <span><span class="label">user: </span>{{ msg.userName }}</span>
                      <span><span class="label">text: </span>{{msg.text}}</span>
                      <span><span class="label">sent date: </span>{{ msg.date }}</span>
                      <span><span class="label">offset: </span>{{ msg.offset }}</span>
                    </div>
                    <div class="links">
                        <a v-bind:href="msg.fullUrl" target="_blank">full</a>
                        <a v-bind:href="msg.overlayUrl" target="_blank">overlay</a>
                    </div>
                </li>
            </ul>
            <div v-if="!transcriptionData.transcriptionMessages.length">
                No transcription messages found.
            </div>
        </div>
    </div>
</main>

<footer>

</footer>

<!-- include the Glitch button to show what the webpage is about and
      to make it easier for folks to view source and remix -->
<div class="glitchButton" style="position:fixed;top:20px;right:20px;"></div>

<script src="https://button.glitch.me/button.js"></script>
</body>
</html>
