#app {
  margin: 20px;
}

.transcription-list {
  list-style: none;

  padding: 0;
  margin: 10px;
}

.transcription-list li {
  display: flex;
}

.transcription-list li .header {
  display: flex;
  flex-direction: column;
  width: 125px;
}

.transcription-list li .transcription {
  flex-grow: 1;
}

.transcription-list li .links {
}

.nav {
  margin-bottom: 20px;
}

.label {
  font-weight: bold;
  margin-right: 5px;
}

.message {
  flex-direction: row;
  justify-content: space-between;
}
